<div id="register" class="container bg-info w-50 rounded mt-3 pb-2">
    <h3 class="text-center text-white pb-1">My eCommerce</h3>
    <div class="container border border-secondary rounded ">
        <div id="register-row" class="row justify-content-center align-items-center">
            <div id="register-column" class="col-md-9">
                <div id="register-box" class="col-md-12">
                    <form id="registerForm">
                        <h3 class="text-center text-light">USER PROFILE</h3>
                        <div class="row mb-1">
                            <label class="col-3 form-label">Name</label>
                            <label class="col-4 form-control w-75">{{user.name}}</label>     
                        </div>
                        <div class="row my-1">
                            <label class="col-3 form-label ">Email</label>
                            <label class="col-4 form-control w-75">{{user.email}}</label>     
                        </div>
                        <div class="row my-1 ">
                            <div class="row mb-1">
                                <label class="col-3 form-label">Age</label>
                                <label class="col-4 form-control w-75">{{user.age}}</label>     
                            </div>
                        </div>
                        <div class="row my-1 ">
                            <div class="row mb-1">
                                <label for="roll" class="form-label col-3">Roll</label>
                                <label class="col-4 form-control w-75">{{user.roll}}</label>     
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

