<div class="container">

  <div>
    <div class="mt-1">
      <span class="btn btn-secondary btn-sm rounded  " id="ename">User email:</span>
      <input type="text" placeholder="Write a message..." id="message" class="px-2 border-black border-2 rounded" />
      <button id="submit" type="button" class="btn btn-primary btn-sm ">Send</button>
    </div>
    <div>
      <p id="ename"></p>
      <p id="messages"></p>
    </div>
  </div>


</div>

  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/socket.js"></script>
