<div class="container mt-4">
  <div>
    <div class="mt-1 container h-100 d-flex flex-column justify-content-center align-items-center">
      <form action="/users/premium/:{{user.email}}/documents" method="post" enctype="multipart/form-data">
        <input type="file" name="files" multiple accept=".txt,.doc" />
        <button class="btn btn-secondary btn-sm rounded  " type="submit">Upload Documents</button>
      </form>
    </div>
  </div>
</div>